button {
  background-color: red;
  color: white;
  transition:
    background-color 1s ease-in,
    color 1s ease-in;
}

button:hover {
  background-color: blue;
  color: black;
}

button.is-active {
  background-color: orange;
}

h2 {
  opacity: 1;
  transition: opacity 2s cubic-bezier(0.75, 0.84, 0.05, 0.6);
}

h2:hover {
  opacity: 0.5;
}
