#button-one,
#button-four {
  background-color: red;
  color: white;
  border: 2px solid yellowgreen;
  transition-property: background-color;
  transition-duration: 3s;
}

#button-four {
  animation: giant 3s;
}

@keyframes giant {
  20% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.5);
  }
}

#button-one:hover {
  background-color: rgb(123, 25, 25);
}

#button-two,
#button-five {
  background-color: green;
  border: 2px solid yellowgreen;
  color: white;
  transition: color 2s;
}

#button-five {
  animation: shift 5s;
}

@keyframes shift {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

#button-two:hover {
  color: black;
}

#button-three,
#button-six {
  background-color: blue;
  border: 2px dotted yellowgreen;
  color: white;
  transition:
    border 1s,
    color 1s;
}

#button-three.is-highlighted {
  color: purple;
  border: 3px solid yellowgreen;
}
