:root {
  --primary-color: hsl(164, 67%, 71%);
  --neutral-color-1: hsl(164, 100%, 92%);
  --neutral-color-2: hsl(164, 12%, 9%);
  --neutral-color-3: hsl(0, 0%, 0%);
  --box-shadow-color: hsl(214, 81%, 47%);
  --font-size-l: 1.5rem;
  --font-size-base: 1rem;
  --space-1: 1rem;
  --space-2: 0.5rem;
}

@font-face {
  src: url('../font/OpenSans-Regular.ttf') format('truetype');
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  display: flex;
  background-color: var(--primary-color);
  color: var(--neutral-color-2);
  font-family: 'Open Sans';
}

nav {
  background-color: var(--neutral-color-2);
  color: var(--neutral-color-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  min-width: 20rem;
}

nav.push-offsite,
main.push-offsite {
  transform: translateX(-20rem);
  transition: 0.5s transform linear;
}

nav,
main {
  transform: translateX(0rem);
  transition: 0.5s transform linear;
}

a {
  padding: var(--space-2) var(--space-1);
}

a:hover {
  background-color: var(--neutral-color-3);
  cursor: pointer;
}

button {
  border-color: var(--neutral-color-2);
  width: fit-content;
}

main {
  padding: var(--space-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

button:hover {
  background-color: var(--neutral-color-2);
  color: var(--primary-color);
  cursor: pointer;
}
