button {
  background-color: red;
  color: white;
  animation:
    bgc 5s ease-in infinite,
    c 1s ease-out infinite;
  animation-play-state: paused;
}

button:hover {
  animation-play-state: running; /* If value is paused, then on hover the animation is paused */
}

/*animation-fill-mode decides whether an element should look like the 
animation’s first or last frame outside the animation timeline.*/

@keyframes bgc {
  0% {
    background-color: blue;
  }

  50% {
    background-color: blueviolet;
  }

  75% {
    background-color: brown;
  }
}

@keyframes c {
  0% {
    color: yellow;
  }

  50% {
    color: pink;
  }

  75% {
    color: green;
  }
}

@keyframes heading-animation {
  0% {
    color: blue;
  }

  20% {
    color: red;
  }

  40% {
    color: green;
  }

  80% {
    color: orange;
  }

  100% {
    color: rgb(218, 24, 160);
  }
}

@keyframes background-animation {
  0% {
    background-color: rgb(218, 24, 160);
  }

  20% {
    background-color: blue;
  }

  40% {
    background-color: red;
  }

  80% {
    background-color: green;
  }

  100% {
    background-color: orange;
  }
}

h1 {
  animation:
    background-animation 5s linear 1,
    heading-animation 10s linear 1;
  animation-delay: 5s, 2s;
  animation-fill-mode: forwards; /* If backwards is paired with delay then the color will start from blue. without the delay the color starts with default color of black*/
  /* animation-direction: alternate; */
}
