button {
  background-color: red;
  color: white;
  animation:
    bgc 5s infinite,
    c 1s infinite;
}

button:hover {
  animation-play-state: running;
}

@keyframes bgc {
  0% {
    background-color: blue;
  }

  50% {
    background-color: blueviolet;
  }

  75% {
    background-color: brown;
  }
}

@keyframes c {
  0% {
    color: yellow;
  }

  50% {
    color: pink;
  }

  75% {
    color: green;
  }
}
