button {
  padding: 20px;
  color: white;
  background-color: aqua;
}

button.is-clicked {
  background-color: rgb(223, 255, 125);
}

body:has(button.is-clicked) {
  background-color: rgb(150, 135, 222);
}
